*{

    font-family: 'Ropa Sans', sans-serif;
}


h4{
    color: goldenrod;
}


#navbar-container{
    
    padding: 2% 10%;
    background-color: black;

}

    .navbar-brand img {

        width: 30%;
        height: 30%;

    }


#about{

    background-color: 
}