
body {

    font-family: 'Roboto', sans-serif;

}

h1{

    font-family: 'Roboto', sans-serif;
    color: goldenrod;
}



/* Title Section */

#title {

    padding-bottom: 20%;
}
    

    #navbar-container{

        background-color: black;
        padding: 3% 10%;
    }

    /* Navigation Bar */

        .navbar{

            padding: 0 0 4.5rem;
        }

        .navbar-nav{

            text-align: right;
            
        }

        .nav-item{

            padding: 0 15px;
        }

        .navbar_text{
            
            color: goldenrod;
        }


        .navbar-brand img{

            width: 30%;
            height: 30%;
            
        }

        .nav-border{

            color: goldenrod;
        }

    #title-container{

        padding: 20% 20%;

    }

        .title-text{

            position: absolute;
            left: 15%;
            top: 5%;
        }

        