* {

    font-family: 'Ropa Sans', sans-serif;
}

#title{

    /* background-color: black; */
    height: 50%;
}

    #navbar-container {
        background-color: rgba(37, 37, 37, 0.973);
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }

        /* Navigation Bar */
        .navbar-nav {

            text-align: right;
            
        }

            .nav-item {

                padding: 0 15px;
                font-size: larger;
            }

            .navbar_text {

                color: goldenrod;
                
            }

                .navbar_text:hover {

                    color: gold
                }


            .navbar-brand img {

                width: 30%;
                height: 30%;

            }

            .nav-border {

                color: goldenrod;
            }

    #carousel-container{
        background-color: black;
        text-align: center;
    }

        .testimonial-image{
            
            width: 400px;
            height: 400px;
            margin: 20px;
            border-radius: 40%;
            
        }

        .carousel-item{
            padding: 7% 15%;
            
        }


#News{
    background-image: url('../images/event_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.Events-column{
    
    padding: 1% 5% 3%;
    
}

.Offers-column{
    /* background-color: black; */
    padding: 1% 5% 3%;
}

    .card-header {
        text-align: center;
        background-color: gray;
    }

    .card-body{
        background-color: whitesmoke;
    }

.Projects-column{
    /* background-color: goldenrod; */
    padding: 1% 5% 3%;
}

    .Project_List{
        padding: 5% 0% 5%;
    }


#Associations{
    text-align: center;
    padding: 5% 0% 3% 0%;
    background-color: goldenrod;
}

    .logo{

        height: 8%;
        width: 8%;
        margin: 5% 3% 5% 3%;
    }


#site-index {

    background-color: black;
    color: goldenrod;
    display: flex;
    flex-direction: row;
    padding: 5% 20%;
    justify-content: space-between;
}

    .index-list {

        list-style-type: none;
    }

    .index-header {
        padding-bottom: 1%;
    }