*{

    font-family: 'Ropa Sans', sans-serif;
}

body {

    font-family: 'Ropa Sans', sans-serif;

}

h1{

    font-family: 'Ropa Sans', sans-serif;
    /* color: goldenrod; */
}



/* Title Section */

#title {

    
    background-image: url("../images/Rocket_launch_background.jpg");
    background-size: cover;
    height: 950px;
    color: goldenrod;
}
    

    #navbar-container{

        /* background-color: black; */
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }

    /* Navigation Bar */

        .navbar-nav{

            text-align: right;
            
        }

        .nav-item{

            padding: 0 15px;
            font-size: medium;
        }

        .navbar_text{
            
            color: goldenrod;
        }

        .navbar_text:hover{

            color: gold
        }


        .navbar-brand img{

            width: 30%;
            height: 30%;
            
        }

        .nav-border{

            color: goldenrod;
        }

    .title-text{

        position: absolute;
        left: 10%;
        top: 35%;
        
    }


/* Signup Banner */
.banner{

    background-color: goldenrod;
    padding: 2% 0%;
    
}
        
        .banner-text{

            color: black;
            text-align: left;
            vertical-align: middle;
            padding-left: 2%;
        }

        .btn-dark{

            display: inline-flex;
            align-items: center;
            font-size: larger;
            justify-content: space-around;
            height: 70%;
            width: 30%;
        }

        

/* Teams Introduction Section */
#teams{

    background-image: url("../images/event_banner.jpg");
    text-align: center;
    color: black;
    padding: 3% 0%;
}

    .team-column{

        padding-top: 1%;
        text-align: center;
    }

        .row{

            padding: 3% 0%;
        }

            .card{

                background-color: goldenrod;
            }

                .card-img-top{

                    border-radius: 60%;
                    height: 200px;
                    width: 250px;
                }

#associations{

    text-align: center;
    background-color: goldenrod;
    padding-top: 2%;
    color: black;

}

    .press-logos{

        width: 8%;
        height: 8%;
        margin: 5%;

    }

#site-index{

    background-color: black;
    color: goldenrod;
    display: flex;
    flex-direction: row;
    padding: 5% 20%;
    justify-content: space-between;
}

    .index-list{

        list-style-type: none;
    }

        .index-header{
            padding-bottom: 5%;
        }